@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Roboto:ital,wght@0,400;1,100&family=Space+Grotesk:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Epilogue:wght@300&family=Roboto:ital,wght@0,400;1,100&family=Space+Grotesk:wght@700&display=swap');

.Syntrax {
  font-family: 'Space Grotesk', sans-serif;
  color: #000;
  font-size: 25px;
  padding-top: 28.5px;
  display: block;
}


nav ul {
  list-style: none;
  display: flex;
  gap: 50px;
  float: right;
  padding-top: 26.5px;
}

nav a {
  font-family: "be vietnam", sans-serif;
  color: rgb(139, 139, 139);
  text-decoration: none;
}

.no-underline {
  text-decoration: none;
}

.inpage {
  color: #f092cb;
}

nav a:hover {
  text-decoration: underline;
}

.morado {
  color: #6155A6;
}

#charact {
  margin-top: 25px;
}

#charact button {
  background-color: #F092CB;
  border: none;
  color: white;
  padding: 20px;
  width: 180px;
  height: 70px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin: 4px 2px;
  border-radius: 40px;
  font-weight: bold;
}

#charact img {
  display:flex;
  margin-left: 60%;
  height: fit-content;
  width: fit-content;
}

#final {
  background-color: rgb(192, 188, 188);
  padding-top: 25px;
}

.contacto img{
  float: left;
}

.copyright img{
  float: left;
}